﻿@model EP.Conference.Models.Registration.RegistrationFields

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistrationFields</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FOREIGNEDITPERMISSION" class="control-label"></label>
                <input asp-for="FOREIGNEDITPERMISSION" class="form-control" />
                <span asp-validation-for="FOREIGNEDITPERMISSION" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GWRTFINFOFLAG" /> @Html.DisplayNameFor(model => model.GWRTFINFOFLAG)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="INSERTTIMESTAMP" class="control-label"></label>
                <input asp-for="INSERTTIMESTAMP" class="form-control" />
                <span asp-validation-for="INSERTTIMESTAMP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="INSERTUSER" class="control-label"></label>
                <input asp-for="INSERTUSER" class="form-control" />
                <span asp-validation-for="INSERTUSER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OWNERGUID" class="control-label"></label>
                <input asp-for="OWNERGUID" class="form-control" />
                <span asp-validation-for="OWNERGUID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OWNERNAME" class="control-label"></label>
                <input asp-for="OWNERNAME" class="form-control" />
                <span asp-validation-for="OWNERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_ADDGUID" class="control-label"></label>
                <input asp-for="REG_ADDGUID" class="form-control" />
                <span asp-validation-for="REG_ADDGUID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_ADDSHORTINFO" class="control-label"></label>
                <input asp-for="REG_ADDSHORTINFO" class="form-control" />
                <span asp-validation-for="REG_ADDSHORTINFO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_END_DT" class="control-label"></label>
                <input asp-for="REG_END_DT" class="form-control" />
                <span asp-validation-for="REG_END_DT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_EVENTGUID" class="control-label"></label>
                <input asp-for="REG_EVENTGUID" class="form-control" />
                <span asp-validation-for="REG_EVENTGUID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="REG_ISPUBLIC" /> @Html.DisplayNameFor(model => model.REG_ISPUBLIC)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="REG_KEYWORD" class="control-label"></label>
                <input asp-for="REG_KEYWORD" class="form-control" />
                <span asp-validation-for="REG_KEYWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_PAYSHORTINFO" class="control-label"></label>
                <input asp-for="REG_PAYSHORTINFO" class="form-control" />
                <span asp-validation-for="REG_PAYSHORTINFO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_REGISTRATIONDATE" class="control-label"></label>
                <input asp-for="REG_REGISTRATIONDATE" class="form-control" />
                <span asp-validation-for="REG_REGISTRATIONDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_REGISTRATIONSTATE" class="control-label"></label>
                <input asp-for="REG_REGISTRATIONSTATE" class="form-control" />
                <span asp-validation-for="REG_REGISTRATIONSTATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_REGSHORTINFO" class="control-label"></label>
                <input asp-for="REG_REGSHORTINFO" class="form-control" />
                <span asp-validation-for="REG_REGSHORTINFO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_START_DT" class="control-label"></label>
                <input asp-for="REG_START_DT" class="form-control" />
                <span asp-validation-for="REG_START_DT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REG_TYPE" class="control-label"></label>
                <input asp-for="REG_TYPE" class="form-control" />
                <span asp-validation-for="REG_TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATETIMESTAMP" class="control-label"></label>
                <input asp-for="UPDATETIMESTAMP" class="form-control" />
                <span asp-validation-for="UPDATETIMESTAMP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATEUSER" class="control-label"></label>
                <input asp-for="UPDATEUSER" class="form-control" />
                <span asp-validation-for="UPDATEUSER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
