﻿@model EP.Conference.Models.Registration.RegistrationFields

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistrationFields</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REG_ADDSHORTINFO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REG_ADDSHORTINFO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REG_KEYWORD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REG_KEYWORD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REG_START_DT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REG_START_DT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REG_END_DT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REG_END_DT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GGUID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
