﻿@model IEnumerable<EP.Conference.Models.Registration.RegistrationFields>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista predavača</h1>

<p>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REG_ADDSHORTINFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REG_KEYWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REG_START_DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REG_END_DT)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.REG_ADDSHORTINFO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REG_KEYWORD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REG_START_DT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REG_END_DT)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.GGUID">Izbriši</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Index" asp-controller="Conference">Nazad</a>
