﻿@model EP.Conference.Models.Conference.ConferenceFields

<h4>ConferenceFields</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EV_TITLE" class="control-label"></label>
                <input asp-for="EV_TITLE" class="form-control" />
                <span asp-validation-for="EV_TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EV_STARTDT" class="control-label"></label>
                <input asp-for="EV_STARTDT" class="form-control" />
                <span asp-validation-for="EV_STARTDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EV_ENDDT" class="control-label"></label>
                <input asp-for="EV_ENDDT" class="form-control" />
                <span asp-validation-for="EV_ENDDT" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="EV_VENUE" class="control-label"></label>
                <input asp-for="EV_VENUE" class="form-control" />
                <span asp-validation-for="EV_VENUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
