﻿@model EP.Conference.Models.Conference.ConferenceFields

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConferenceFields</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EV_TITLE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EV_TITLE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EV_STARTDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EV_STARTDT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EV_ENDDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EV_ENDDT)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EV_VENUE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EV_VENUE)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GGUID" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
