﻿@model EP.Conference.Models.Conference.ConferenceFields

<div>
    <h4>ConferenceFields</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EV_TITLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EV_TITLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EV_STARTDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EV_STARTDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EV_ENDDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EV_ENDDT)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EV_VENUE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EV_VENUE)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GGUID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
