﻿@model IEnumerable<EP.Conference.Models.Conference.ConferenceFields>

@{
    ViewData["Title"] = "View";
}

<h1>Lista konferencija</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EV_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EV_STARTDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EV_ENDDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EV_VENUE)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EV_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EV_STARTDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EV_ENDDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EV_VENUE)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Registration" asp-route-id="@item.GGUID">Predavači</a> |
                <a asp-action="Edit" asp-route-id="@item.GGUID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.GGUID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.GGUID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
