﻿@model EP.Conference.Models.Speakers.SpeakerFields

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpeakerFields</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CHRISTIANNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CHRISTIANNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPNAME)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GGUID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
