﻿@model IEnumerable<EP.Conference.Models.Speakers.SpeakerFields>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CHRISTIANNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPNAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CHRISTIANNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPNAME)
            </td>
            <td>
                <a asp-action="Register" asp-route-id="@item.GGUID" asp-route-firstName="@item.CHRISTIANNAME" asp-route-lastName="@item.NAME">Prijava</a> |
                <a asp-action="Edit" asp-route-id="@item.GGUID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.GGUID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.GGUID">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
