﻿@model IEnumerable<EP.Conference.Models.Conference.ConferenceFields>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EV_TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EV_STARTDT)
            </th>        
            <th>
                @Html.DisplayNameFor(model => model.EV_ENDDT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EV_STARTDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EV_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EV_ENDDT)
            </td>
            <td>
                <a asp-action="RegisterMe" asp-route-eventId="@item.GGUID" asp-route-speakerId="@item.UPDATEUSER" asp-route-firstName="@item.INSERTUSER" asp-route-lastName="@item.OWNERNAME" asp-route-conferenceName="@item.EV_TITLE">Prijavi me</a>
            </td>
        </tr>
}
    </tbody>
</table>
